@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 18 16 25;
  --color-secondary: 165 164 165;
  --color-secondary-dark: 18 16 25;
  --color-text: 255 255 255;
}

@layer utilities {
  .rtl {
    direction: rtl;
  }
}


body {
  color: rgb(var(--color-text));
  /* background-color: rgb(var(--color-secondary-dark)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Styles for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Border radius of the scrollbar thumb */
}

/* Styles for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Color of the scrollbar thumb on hover */
}

/* Styles for the scrollbar track when scrollbar is being dragged */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
  /* Color of the scrollbar thumb when being dragged */
}